/* root  */
:root {
  --color-black: #000;
  --color-dark: #1e1e1e;
  --color-pragraph: #555252;
  --color-blue: #2245ba;
  --color-yellow: #fee600;
  --color-body: #f5f4f0;
  --color-white: #fff;
}

.res_mt {
  margin-top: 30px;
}

/* header css part start  */

.header {
  padding: 23px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}
.header.two {
  background-color: var(--color-white);
}

.nav-bg {
  background-color: var(--color-white);
  animation: slideDown 1s ease-out;
  box-shadow: 0 14px 16px 0 rgba(11, 2, 55, 0.1);
}

.cta-link{
  color: var(--color-dark) !important;
  font-weight: 700;
}

.cta-link:hover {
  color: var(--color-blue) !important;
}

/* heaser-animetion  */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.header_menu_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_menu_df,
.header_menu {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header_menu {
  gap: 24px;
  flex: 1;
}

.header_menu li a {
  font-size: 14px;
  font-weight: 600;
  line-height: 14.03px;
  letter-spacing: -0.02em;
  color: var(--color-black);
  transition: all linear 0.5s;
  display: flex;
  align-items: center;
  gap: 4px;
}
.header_menu li a:hover {
  color: var(--color-blue);
}

.header--main_btn {
  height: 56px;
  width: 56px;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 10px;
  font-weight: 500;
  line-height: 10.02px;
  letter-spacing: -0.02em;
  text-align: left;
  border-radius: 50%;
  color: var(--color-white);
  border: 1px solid var(--color-blue);
  transition: all linear 0.5s;
}
.header--main_btn:hover {
  background-color: var(--color-white);
}
.header--main_btn:hover span svg {
  color: var(--color-blue);
}

.header--main_btn span svg {
  stroke: currentColor;
  color: var(--color-white);
  transition: all linear 0.5s;
}

/* header css part end  */

/* mobile header start  */
.container-full {
  width: 100%;
}
.mobile-header {
  display: none;
}
.mobile-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}
#nav-opn-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: var(--color-blue);
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  margin-left: -50px;
}
#offcanvas-nav {
  background: transparent;
  position: absolute;
  left: -300px;
  top: 0px;
  z-index: 99;
  width: 300px;
  height: 100vh;
  z-index: 999999;
  transition: 0.5s ease;
}
#offcanvas-nav::before {
  content: "";
  width: 0%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: 0.5s ease 0.3s;
}
#offcanvas-nav.open {
  left: 0px;
}
#offcanvas-nav.open::before {
  width: 100%;
}
#offcanvas-nav .m-nav {
  position: relative;
  background: #fff;
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  z-index: 9;
  display: block;
  height: 100%;
  overflow-y: scroll;
}
#nav-cls-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  background: none;
  border: none;
  outline: none;
  font-size: 22px;
}
#offcanvas-nav .m-nav .nav-links {
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
}
#offcanvas-nav .m-nav .nav-links li {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 20px;
}
#offcanvas-nav .m-nav .nav-links li a {
  font-size: 16px;
  color: #000;
}
#offcanvas-nav .m-nav .nav-links li a::before {
  display: none;
}
#offcanvas-nav li:last-of-type {
  border: 0 !important;
}
#offcanvas-nav .m-nav .nav-links .dropdown .d-menu {
  position: relative;
  box-shadow: none;
  padding-left: 20px;
  padding-top: 15px !important;
  padding-top: 0px;
  visibility: visible;
  opacity: 1;
  display: none;
  transition: 0.5s ease-in 0s;
}
#offcanvas-nav .m-nav .nav-links .dropdown .d-menu li {
  padding: 5px 0px;
}
#offcanvas-nav .m-nav .nav-links .dropdown .d-menu li a {
  font-size: 15px;
  color: #000;
}
#offcanvas-nav .m-nav .nav-links .dropdown:hover .d-menu {
  display: block;
}
#offcanvas-nav .m-nav .logo {
  margin-bottom: 40px;
}
#offcanvas-nav .m-nav > .social-icons-s1 {
  gap: 12px;
  margin-top: 50px;
}
#offcanvas-nav .m-nav > .social-icons-s1 li a::before {
  display: none;
}
.social-icons {
  display: flex;
  gap: 20px;
}
.social-icons a i {
  height: 30px;
  width: 30px;
  background-color: #280a54;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  line-height: 30px;
  transition: 0.5s;
}

/* mobile header end */

/* banner css part banner  */
.banner {
  padding: 215px 0 122px 0;
}

.banner_thumb_main {
  position: relative;
}

.banner_pos_thumb {
  position: absolute;
  top: -78px;
  left: -42px;
  z-index: -1;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.banner-text-item {
  display: none; /* Initially hide all text items */
  animation: fade-in 4s ease-in-out alternate infinite; /* Animation details */
}
.banner_thumb_txt h2:nth-child(1) { /* Style for the first item */
  display: block; /* Make the first item visible initially */
}
.banner_thumb_txt {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.banner_thumb_txt h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 47.04px;
  letter-spacing: -0.05em;
  color: var(--color-white);
  text-align: center;
  /* animation: banner-txt 8s linear infinite; */
}

.banner_position_re {
  position: relative;
}

.banner_pos1 {
  position: absolute;
  top: 0;
  left: 77px;
}
.banner_pos2 {
  position: absolute;
  top: 223px;
  left: 0;
}
.banner_pos3 {
  position: absolute;
  top: 383px;
  left: 133px;
}
.banner_pos4 {
  position: absolute;
  top: 0;
  right: 77px;
}
.banner_pos5 {
  position: absolute;
  top: 223px;
  right: 0px;
}
.banner_pos6 {
  position: absolute;
  top: 383px;
  right: 133px;
}

.banner-pos-1 img,
.banner-pos-2 img,
.banner-pos-3 img {
  height: 100%;
  width: 100%;
}

.food-1 {
  position: absolute;
  top: -33px;
  left: 258px;
}
.food-2 {
  position: absolute;
  top: 106px;
  left: 0;
}
.food-3 {
  position: absolute;
  top: 179px;
  left: 180px;
}
.food-4 {
  position: absolute;
  top: 355px;
  left: 18px;
}
.food-5 {
  position: absolute;
  top: -155px;
  left: 517px;
}
.food-6 {
  position: absolute;
  top: 0px;
  right: 254px;
}
.food-7 {
  position: absolute;
  top: 93px;
  right: -25px;
}
.food-8 {
  position: absolute;
  top: 221px;
  right: 170px;
}
.food-9 {
  position: absolute;
  top: 380px;
  right: -27px;
}
.food-10 {
  position: absolute;
  top: 485px;
  right: 287px;
}
.food-11 {
  position: absolute;
  top: 500px;
  left: 290px;
}

.food-1,
.food-5,
.food-7,
.food-10,
.food-11 {
  animation: mover_up 1s infinite alternate;
}

.food-2,
.food-3,
.food-4,
.food-6,
.food-8,
.food-9 {
  animation: mover_down 1s infinite alternate;
}

@keyframes mover_up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover_down {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes banner-txt {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* banner css part end  */

/* misson_visson css part start  */

.misson_visson {
  padding: 90px 0;
  background-color: var(--color-white);
  border-radius: 60px;
}

.misson_visson_txt_item .sub_title {
  margin-top: 36px;
}
.misson_visson_txt_item h6 {
  margin-top: 25px;
  padding-right: 85px;
}
.misson_visson_txt_item .description {
  margin-top: 18px;
}

.misson_thumb_main {
  display: flex;
  justify-content: end;
}

.misson_thumb {
  height: 492px;
  width: 540px;
  overflow: hidden;
  border-radius: 37px;
}

/* misson_visson css part end  */

/* video css part start  */

.video {
  padding: 100px 0;
}

.video_thumb_slick {
  margin-top: 20px;
}

.video_thumb_slick_thumb {
  height: 600px;
  position: relative;
}

.video_thumb_slick_thumb img {
  width: 100%;
  height: 100%;
}

.video_thumb_slick_thumb .video_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video_arrow_thumb_main {
  position: relative;
}

.video_arrow_thumb_left,
.video_arrow_thumb_rigth {
  position: absolute;
  top: 55px;
  left: -104px;
}
.video_arrow_thumb_rigth {
  left: inherit;
  right: -104px;
}

/* video css part end  */

/* about css part start  */
.about {
  padding: 80px 0;
  background-color: var(--color-white);
  border-radius: 60px;
}

.about_head {
  text-align: center;
}
.about_head .title {
  margin: 14px 0;
}

.about_head h6 {
  padding: 0 100px;
  margin-bottom: 18px;
}
.about_head .description {
  padding: 0 130px;
}

.about_map_thumb {
  height: 465px;
  overflow: hidden;
  border-radius: 37px;
  margin-top: 50px;
}
.about_map_thumb img {
  height: 100%;
  width: 100%;
}

/* .origin part srat  */

.origin_bg {
  padding: 90px 103px;
  background-color: #a0b0e3;
  border-radius: 60px;
  margin-top: 40px;
}
.origin_bg.two {
  background-color: #fffbd7;
}
.origin_bg.two .origin_head {
  padding-right: 0;
  padding-left: 20px;
}
.origin_bg.three {
  background-color: #7cda90;
}

.origin_head {
  padding-right: 20px;
}

.origin_head .sub_title {
  margin-top: 35px;
}
.origin_head h6 {
  margin-top: 25px;
}
.origin_head .description {
  margin-top: 18px;
}
.origin_head .main_btn {
  margin-top: 35px;
}

.origin_thumb {
  height: 440px;
  overflow: hidden;
  border-radius: 37px;
}
.origin_thumb img {
  width: 100%;
  height: 100%;
}

/* about css part end  */

/* NEWS AND JOURNALS part start  */

.news {
  padding: 100px 0;
  margin-left: 275px;
}
.news_head .title {
  margin-top: 32px;
}

.news_slick {
  margin-right: -225px !important;
  margin-top: 50px;
}

.news_slick_item:hover .news_slick_item_thumb img:nth-child(2) {
  opacity: 0;
}
.news_slick_item:hover .news_slick_inner {
  transform: scale(1.03);
}
.news_slick_item:hover .news_slick_inner h6 a {
  color: var(--color-blue);
}

.news_slick_item {
  margin: 0 15px;
}

.news_slick_item_thumb {
  border-radius: 14px;
  position: relative;
  overflow: hidden;
}

.news_slick_item_thumb img {
  width: 100%;
  height: 180px;
  /* Cover */
  object-fit: cover;
  transition: all linear 0.5s;
}
.news_slick_item_thumb img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}

.news_slick_inner {
  margin-top: 24px;
  transition: all linear 0.5s;
}

.news_slick_inner h6 a {
  color: var(--color-dark);
  transition: all linear 0.5s;
}

.news_slick_inner_btm {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news_slick_inner_btm p {
  font-size: 12px;
  font-weight: 600;
  line-height: 11.48px;
  letter-spacing: -0.02em;
  color: var(--color-pragraph);
}
.news_slick_inner_btm a {
  font-size: 10px;
  font-weight: 500;
  line-height: 9.57px;
  letter-spacing: -0.02em;
  color: #9747ff;
}

/* NEWS AND JOURNALS part end  */

/* team part start  */

.team {
  padding: 56px 0 100px 0;
  background-color: var(--color-white);
  border-radius: 60px;
}

.team_mt {
  margin-top: 38px;
}

.team_head {
  text-align: center;
}
.team_head .title {
  margin-top: 32px;
}

.team_item_thumb {
  height: 126px;
  overflow: hidden;
  border-radius: 14px;
}
.team_item_thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 0.5s ease-in-out;
}

.team_inner {
  margin-top: 10px;
}

.team_inner a {
  font-size: 14px;
  font-weight: 600;
  line-height: 13.4px;
  letter-spacing: -0.02em;
  color: var(--color-dark);
}
.team_inner p {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 11.48px;
  letter-spacing: -0.02em;
  color: var(--color-dark);
}

.team_inner .description {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  margin-top: 13px;
  font-family: "Nunito Sans", sans-serif;
  color: #9c9b9b;
}

.team_item:hover .team_item_thumb img {
  transform: scale(1.1);
}

.team_two {
  background-color: transparent;
  padding: 0;
}
.team_two .team_head {
  text-align: start;
  border-top: 1px dashed #9c9b9b;
  padding-top: 90px;
  margin-bottom: 38px;
}

.border_botom {
  border-bottom: 1px dashed #9c9b9b;
  padding-bottom: 90px;
}

/* team part end  */

/* contact part start  */
.contact {
  padding: 40px 0 90px 0;
  background: url(../images/contact-bg.png) no-repeat center / cover;
}

.contact_bg {
  padding: 77px 0;
  background-color: var(--color-white);
  border-radius: 60px;
}

.contact_head {
  text-align: center;
}

.contact_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.contact_head .title {
  margin-top: 32px;
}
.contact_head .description {
  margin-top: 32px;
}

/* contact part end  */

/* footer part start  */

.footer {
  padding: 114px 0 0px 0;
  background-color: #1a2857;
}

.footer_ml {
  margin-left: 50px;
}

.footer_mll {
  margin-left: -80px;
}

.footer_mlll {
  margin-left: 30px;
}

.footer_box {
  padding: 34px;
  background-color: var(--color-white);
  border-radius: 37px;
  margin-top: -158px;
}

.footer_logo {
  display: flex;
  justify-content: center;
}

.footer_box .sub_title {
  color: var(--color-pragraph);
  text-align: center;
  margin-top: 28px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.footer_box_btn {
  margin: 27px 20px 27px 20px;
}

.footer_social_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer_social_icon li a {
  height: 42px;
  width: 42px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark);
  transition: all linear 0.5s;
}
.footer_social_icon li a span {
  line-height: 0;
}
.footer_social_icon li a:hover {
  background-color: var(--color-dark);
  color: var(--color-yellow);
}

.footer_item_txt {
  margin-bottom: 28px;
}

.footer_item_txt h4 {
  color: var(--color-white);
}

.footer_link li {
  padding-bottom: 10px;
}
.footer_link li:last-of-type {
  padding-bottom: 0px;
}

.footer_link li a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16.03px;
  letter-spacing: -0.02em;
  color: var(--color-white);
  transition: all linear 0.5s;
}
.footer_link li a:hover {
  color: var(--color-yellow);
}

.footer_form_item .form-label {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  letter-spacing: -0.02em;
  color: #9c9b9b;
  margin-bottom: 15px;
}
.footer_form_item .form-control {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14.03px;
  letter-spacing: -0.02em;
  color: var(--color-dark);
  border-radius: 0;
  padding: 18px;
  border: 1px solid var(--color-white);
}
.footer_form_item .form-control:focus {
  box-shadow: inherit;
}

.subscribe_btn {
  padding: 18px;
  background-color: var(--color-yellow);
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14.03px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 10px;
  border: 1px solid var(--color-yellow);
  transition: all linear 0.5s;
}
.subscribe_btn:hover {
  background-color: transparent;
  color: var(--color-yellow);
}

.footer_contact_item {
  display: flex;
  align-items: start;
  gap: 10px;
  margin-bottom: 26px;
}
.footer_contact_item:last-of-type {
  margin-bottom: 0px;
}

.footer_contact_item .icon {
  height: 42px;
  width: 42px;
  background-color: var(--color-yellow);
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer_contact_item_txt {
  flex: 1;
}

.footer_contact_item_txt p {
  font-size: 14px;
  font-weight: 600;
  line-height: 14.03px;
  letter-spacing: -0.02em;
  color: #9c9b9b;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 10px;
}
.footer_contact_item_txt a {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16.03px;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.copy_write {
  padding: 24px 0;
  background-color: #101c44;
  margin-top: 100px;
}

.copy_write_txt a {
  font-size: 16px;
  font-weight: 500;
  line-height: 16.03px;
  letter-spacing: -0.02em;
  color: var(--color-white);
}
.copy_write_txt.two a {
  text-decoration-line: underline;
  display: flex;
  justify-content: end;
}

/* footer part end */

/* back-to-top start  */
.backt_to_top {
  position: fixed;
  bottom: 447px;
  right: 50px;
  z-index: 999;
  cursor: pointer;
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  color: var(--color-dark);
  transition: all linear 0.5s;
  text-align: center;
  line-height: 58px;
  display: none;
}

.backt_to_top:hover {
  background-color: var(--color-white);
  color: var(--color-yellow);
}
/* back-to-top end  */

/* about part start   */

.about_two {
  padding: 58px 0 72px 0;
  background-color: var(--color-white);
  border-radius: 60px;
  margin-top: 190px;
}

.about_two_head .title {
  margin-top: 32px;
  border-bottom: 1px dashed #555252;
  padding-bottom: 32px;
}

.info_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.info_nav li a {
  font-size: 12px;
  font-weight: 400;
  line-height: 10.02px;
  letter-spacing: -0.06em;
  color: var(--color-black);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all linear 0.5s;
}
.info_nav li a:hover {
  color: var(--color-blue);
}

/* philosophy part start */

.philosophy_head {
  text-align: center;
  padding-top: 112px;
  margin-bottom: 32px;
}

.philosophy_head .title {
  margin-top: 32px;
}

.about_two .misson_thumb {
  height: 256px;
}

.about_two .misson_visson_txt_item .sub_title {
  margin-top: 0;
}

.philosophy_mt {
  margin-top: 40px;
}

.values_main {
  margin-top: 18px;
}

.values_main_item {
  display: flex;
  gap: 18px;
  margin-bottom: 18px;
}
.values_main_item:last-of-type {
  margin-bottom: 0px;
}

.values_main_item .icon {
  height: 36px;
  width: 36px;
  background-color: var(--color-blue);
  font-size: 10px;
  font-weight: 500;
  line-height: 13.18px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.values_main_item .description {
  flex: 1;
  margin-top: 0;
  padding-right: 34px;
}

/* philosophy part end */

/* about part end */

/* directors part start */

.directors {
  padding: 100px 0;
}

.directors_head .sub_title {
  margin-bottom: 25px;
}
.directors_head h6 {
  padding-right: 306px;
}
.directors_head .description {
  margin-top: 18px;
}

.directors_mt {
  margin-top: 30px;
}

.directors_thumb {
  height: 256px;
  overflow: hidden;
  border-radius: 37px;
}
.directors_thumb img {
  width: 100%;
  height: 100%;
}

.directors_item {
  padding: 43px 49px;
  background-color: var(--color-white);
  border-radius: 22px;
}

.directors_item_txt .description {
  padding-top: 6px;
}

/* directors part end */

/* ORGANIZATIONAL part start */

.organitzatonal {
  padding: 57px 0;
  background-color: var(--color-white);
  border-radius: 60px;
  margin-top: 100px;
}

.organitzatonal_head .title {
  margin-top: 32px;
}

.chart_thumb {
  height: 522px;
  overflow: hidden;
  border-radius: 37px;
  margin-top: 32px;
}
.chart_thumb img {
  width: 100%;
  height: 100%;
}

/* ORGANIZATIONAL part end */

/* FOUNDATION part start */

.foundation {
  padding: 100px 0;
}

.foundation_head .title {
  margin-top: 32px;
}

.foundation_overview_table {
  margin-top: 32px;
}

.foundation_overview_table li {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 27.16px;
  color: var(--color-dark);
  display: flex;
  gap: 34px;
  margin-bottom: 12px;
}
.foundation_overview_table li:last-of-type {
  margin-bottom: 0px;
}
.foundation_overview_table li span {
  width: 164px;
}

.foundation_map {
  overflow: hidden;
  border-radius: 37px;
  margin-top: 32px;
}

.foundation_map iframe {
  height: 464px;
  width: 100%;
}

/* FOUNDATION part end */

/* HISTORY part start */
.history {
  padding: 57px 0;
  background-color: var(--color-white);
  border-radius: 60px;
}

.history_head .title {
  margin-top: 32px;
}

.history_item_main {
  margin-top: 32px;
}

.history_item {
  position: relative;
  padding-left: 47px;
  padding-bottom: 32px;
}
.history_item:last-of-type {
  padding-bottom: 0px;
}
.history_item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-left: 1px dashed var(--color-black);
}
.history_item::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0%;
  height: 22px;
  width: 22px;
  background-color: var(--color-pragraph);
  border-left: 1px dashed var(--color-black);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.history_item .description {
  margin-top: 2px;
}

/* HISTORY part end */

/* all logo part start */

.all_logo {
  padding: 80px 0 100px 0;
}

.all_logo_box {
  padding: 25px 20px;
  background-color: var(--color-white);
  height: 490px;
}
.all_logo_txt {
  padding: 10px;
  background-color: var(--color-blue);
}

.all_logo_txt h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 31.63px;
  color: var(--color-white);
  text-align: center;
}

.all_logo_thumb_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

/* all logo part end */

/* JOURNALS & NEWS part start  */

.journals {
  padding: 58px 0 150px 0;
  background-color: var(--color-white);
  border-radius: 60px;
  margin-top: 190px;
}

.journals_bb {
  border-bottom: 1px dashed var(--color-pragraph);
  padding-bottom: 60px;
}

.journals_head {
  border-bottom: 1px dashed #555252;
  padding-bottom: 32px;
}

.journals .nav {
  gap: 20px;
  margin-top: 60px;
}
.journals .nav-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 13.4px;
  letter-spacing: -0.02em;
  text-align: center;
  border: 1px solid #555252;
  padding: 12px 18px;
  border-radius: 30px;
  color: var(--color-pragraph);
}
.journals .nav-link.active {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.journals_breadcrumb {
  margin-top: 36px;
  display: flex;
  gap: 10px;
}

.journals_breadcrumb li {
  font-size: 14px;
  font-weight: 500;
  line-height: 13.4px;
  letter-spacing: -0.02em;
  color: var(--color-pragraph);
}
.journals .tab-content {
  margin-top: 36px;
}

.journals_item_thumb {
  height: 192px;
  overflow: hidden;
  border-radius: 22px;
}
.journals_item_thumb img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in;
}

.journals_inner {
  padding-top: 26px;
}

.journals_inner_txt a {
  font-size: 16px;
  font-weight: 600;
  line-height: 15.31px;
  letter-spacing: -0.02em;
  color: var(--color-dark);
  transition: all linear 0.5s;
}

.journals_inner_btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 13px;
}
.journals_inner_btm a {
  font-size: 12px;
  font-weight: 500;
  line-height: 9.57px;
  letter-spacing: -0.02em;
  color: #9747ff;
}
.journals_inner_btm a.active {
  font-size: 12px;
  font-weight: 500;
  line-height: 9.57px;
  letter-spacing: -0.02em;
  color: #7cda90;
}

.journals_item:hover .journals_item_thumb img {
  transform: scale(1.1);
}
.journals_item:hover .journals_inner_txt a {
  color: var(--color-blue);
}

.pagination {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
  margin-top: 60px;
}

.pagination li a {
  font-size: 20px;
  font-weight: 500;
  line-height: 19.14px;
  letter-spacing: -0.02em;
  color: var(--color-dark);
}
.pagination li a.active {
  color: #9c9b9b;
}

/* JOURNALS & NEWS part end */
